@import "ember-bootstrap/bootstrap";

.line-color-ADA {
  color: #00bfa5;
}
.line-color-BLUE {
  color: #2962ff;
}
.line-color-BROWN {
  color: #3e2723;
}
.line-color-GREEN {
  color: #64dd17;
}
.line-color-ORANGE {
  color: #ff6d00;
}
.line-color-PINK {
  color: #aa00ff;
}
.line-color-PURPLE_EXPRESS {
  color: #6200ea;
}
.line-color-PURPLE {
  color: #aa00ff;
}
.line-color-RED {
  color: #d50000;
}
.line-color-YELLOW {
  color: #ffd600;
}
