<BsNavbar @type="dark" @backgroundColor="primary" @collapsed={{true}} @onCollapse={{action (mut collapsed) true}}
  @onExpand={{action (mut collapsed) false}} as |navbar|>
  <div class="navbar-header">
    {{navbar.toggle}}
    {{#link-to "index" class="navbar-brand"}}CTA Station Arrivals{{/link-to}}
  </div>
</BsNavbar>
