<LinkTo @route="station" @model={{@station.id}} class="text-muted text-decoration-none">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{@station.STATION_NAME}}</h5>
      <div class="card-text">
        <div class="d-flex flex-row">
          {{#each stationLines as |line|}}
            <div class="p-2">
              <LineIcon @line={{line}} />
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</LinkTo>
