<HeroSearch @searchFilters={{searchFilters}} @minQueryLength={{minQueryLength}}
  @updateSearchFilters={{action "updateSearchFilters"}} />
{{#each filteredStations as |station|}}
  <li>
    <Station @station={{station}} />
  </li>
{{/each}}
