<HeroSearch @searchFilters={{searchFilters}} @minQueryLength={{minQueryLength}}
  @updateSearchFilters={{action "updateSearchFilters"}} />
<div class="row">
  {{#each filteredStations as |station|}}
    <div class="col-sm-12 col-md-4 mt-3">
      <Station @station={{station}} />
    </div>
  {{/each}}
</div>
